.#{$magic-namespace}-activity-header {
  padding: 8px 5px 8px 8px;
  position: relative;
  // top: -9px;

  .#{$magic-namespace}-back-home-box {
    float: left;

    button {
      // display: inline-block;
      // width: 64px;
      // height: 65px;
      // border: none;
      // border-radius: 0;
      // margin-right: 8px;
      // cursor: pointer;
    }
  }

  .#{$magic-namespace}-title-box {
    float: right;
    width: 206px;
    height: 60px;
    background: url('./../assets//images/title_bar.png') no-repeat center center/contain;
    text-align: center;
    top: -9px;
    position: relative;

    .#{$magic-namespace}-label-text {
      font-size: 22px;
      color: #fff;
      text-shadow: 0 0 2px #761C28;
      margin: 0;
      padding: 0;
      line-height: 46px;
    }

    .#{$magic-namespace}-music-icon {
      width: 42px;
      height: 42px;
      border: 5px solid #fff;
      border-radius: 50%;
      background: #d8d8d8;
      display: inline-block;
      cursor: pointer;
    }
  }
}